<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Learn 1</title>
    <style>
        body{
            margin: 5%;
        }
        .active{
            background: sandybrown;
            border: 0%;
            padding: 5px;
        }
        
    </style>
</head>
<body>
    <div id="app">
        <header>
            <img :src="gambar" width="80">
            <div><a href="#" v-bind:class="{active: menu  === 'home'}"     @click.prevent="gantimenu('home')">HOME</a>
                <a href="#" v-bind:class="{active: menu  === 'about'}"    @click.prevent="gantimenu('about')">ABOUT</a>
                <a href="#" v-bind:class="{active: menu  === 'contact'}"  @click.prevent="gantimenu('contact')">CONTACT</a>
            </div>
            <h1>what vue</h1>
            <p>Progresive javascript framework</p>
        </header>
        <content>
            
            <div v-text="informasi.nama"></div>
            <div v-if="sekolah.length >= 1" v-text="sekolah"></div>
            <ul>
                <li v-for="bebas of sekolah" v-text="bebas"></li>
            </ul>
            <table>
                <tr>
                    <td >NO</td>
                    <td>Nama</td>
                </tr>
                <tr  v-for="(bebas,index) of sekolah">
                    <td v-text="index+1" ></td>
                    <td v-text="bebas" ></td>
                </tr>
            </table>
            <p>
                <input type="checkbox" value="SD" v-model="sekolah">SD
                <input type="checkbox" value="SMP" v-model="sekolah">SMP
                <input type="checkbox" value="SMA" v-model="sekolah">SMA
            </p>
            <div>Bilangan genap dari {{bilangan2}}</div>
            <ul>
                <li v-for="bebas2 of caribilangangenap(bilangan2)" v-text="bebas2"></li>
            </ul>
            <div>
                <table>
                    <tr>
                        <td >NO</td>
                        <td>Kelas</td>
                        <td>Pelajaran</td>
                    </tr>
                    <tr  v-for="(value,index) in siswa">
                        <td v-text="index+1"> </td>
                        <td v-text="value.kelas" ></td>
                        <td v-text="value.pelajaran"></td>
                    </tr>
                </table>
                 
                
            </div>
            <p><input type="text" v-model="informasi.nama"></p>
            {{message}}<br>
            <div v-html="website"></div>
            {{'Nama dia adalah ' + informasi.nama.toUpperCase() }}<br>
            {{getText()}}<br>
            {{satukanData}}<br>
            bilangan {{bilangan}} adalah bilangan {{genapGanjil}}
            <p>
                <button @click="cekBilangan">Hitung</button>
            </p>
            <input type="text" v-on:keyup.enter="submit" placeholder="tambahkan pendidikan"> 
        </content>
        <footer id="footer">
            Reserved Right 2022
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script>
        const identitas = {
            nama    : 'Tommy',
            jabatan : 'Prakom',
            umur    : 28
        };
        const vm = new Vue({
            el: '#app',
            data:
            {
                message : 'Ini latihan pertama content',
                informasi : identitas,
                bilangan : 1,
                website  : '<a href="#">klik disini</a> ',
                gambar : '/image/vue.png',
                menu :'home',
                sekolah : ['S1','S2','S3'],
                bilangan2 : [1,2,3,4,5],
                siswa : [
                    {
                        'kelas'         : '3',
                        'pelajaran'     : 'IPA'
                    },
                    {
                        'kelas'         : '3',
                        'pelajaran'     : 'IPS'
                    }
                ]

            },
            methods : 
            {
                getText : function(){
                    return 'Berikut adalah umur dari ' + this.informasi.nama + ' adalah ' + this.informasi.umur; 
                },
                ubahNama : function(data1){
                    this.informasi.nama = data1;
             
                },
                cekBilangan : function () {
                   this.bilangan =  this.bilangan + 1
                },
                //kata urut bebas didefenisikan karena ppecahan dari fungsi
                caribilangangenap: function (data){
                    return data.filter(urut => {
                        return urut % 2 == 0
                    })
                },
                gantimenu: function(data){
                    event.preventDefault();
                    this.menu = data;
                },
                submit: function (event){
                    let teks = event.target.value
                    this.sekolah.unshift(teks)
                    event.target.value = ""
                }
            
            },
            computed :
            {
                satukanData : function(){
                    return this.informasi.nama + ' ' +this.informasi.jabatan
                },
                genapGanjil : function(){
                    return this.bilangan % 2 === 0 ? 'bilangan genap' : 'bilangan ganjil';
                },
               
            },
           
                
        }) 
    </script>
</body>
</html>